/.metadata/
.DS_Store
.settings
.classpath
.project
bin/
/Converter/nbproject/private/
/Converter/build/
/Converter/dist/
/LoginApp/nbproject/private/
/LoginApp/build/
/LoginApp/dist/
/VolumesSurfaceArea/nbproject/private/
/VolumesSurfaceArea/build/
/QuadraticRelationship/nbproject/private/
/QuadraticRelationship
/AdvancedConcepts/Q1/nbproject/private/
/AdvancedConcepts/Q1/build/
/AdvancedConcepts/Q2/nbproject/private/
/AdvancedConcepts/Q2/build/
/Test2/nbproject/private/
/Test2/build/
/Test2/target/